.social {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	&__button {
		width: 2rem;
		height: 2rem;
		cursor: pointer;
		filter: grayscale(100%);
		transition: ease-in-out .5s;

		&--vk {
			background: url("../../images/vk.png") center / 100% 100% no-repeat;
		}

		&:hover {
			filter: none;
		}
	}
}
