$fontMain: "PT Sans Caption", sans-serif;

@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/PT_Sans-Caption-Web-Regular.ttf');
}

@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/PT_Sans-Caption-Web-Bold.ttf');
}
